.box {
    margin: 50px auto;
    border: 1px solid black;
    text-align: center;
    width: 980px;
}
.product {
    margin: 10px;
    padding: 10px;
    text-align: center;
    float: left;
    border: 1px solid black;
    background-color: #f3f1f1;
    width: 200px;
}
h3 {
    margin: 3px;
    color: chartreuse;
}

@media (min-width : 1200px) {
    .box { width: 980px;height: 128px;}
    .product {width: 200px; }
    h3 {color: green;}
}

@media (max-width : 1199px) {
    .box { width: 900px;height: 209px;}
    .product { width: 400px; }
    h3 {color: red;}
}
@media (max-width : 991px) {
    .box { width: 450px;height: 383px;}
    .product { width: 400px }
    h3 {color: black;}
}
